.ogx_switch{
	display:inline-block;
	cursor:pointer;
}
.ogx_switch_dot{
	position:relative;
	top:0px;
	display:inline-block;
	border-radius:10px;
	height:18px;
	width:18px;
	border:1px solid #AAAAAA;
	background-color:#EEEEEE;
	box-shadow:1px 1px 2px 0px rgba(0,0,0,0.5);
}
.ogx_switch_track{
	margin-top:2px;
	display:inline-block;
	vertical-align:text-top;	
	border-radius:10px;
	border:1px solid #AAAAAA;
	background-color:#CCCCCC;
	height:21px;
	width:70px;	
	box-shadow:inset 1px 1px 2px 0px rgba(0,0,0,0.5);
}
.ogx_switch_label{
	display:inline-block;
	vertical-align:text-top;	
}
.ogx_switch_label_on{
	margin-right:10px;
}
.ogx_switch_label_off{
	margin-left:10px;	
}
.ogx_switch_form{
	display:none;	
}