.ogx_dynamic_pager_page{
	cursor:pointer;
	border-radius:1px;
	border-style:solid;
	border-width:1px;
	border-color:#DDD;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	background-color:#EEE;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	height:16px;
	display:inline-block;
	padding-top:2px;
}
.ogx_dynamic_pager_page span{	
	text-align:center;
}
.ogx_dynamic_pager_page:hover{
	background-color:#000;
	border-color:#000;
	color:#FFF;	
}
.ogx_dynamic_pager_selected_page{
	background-color:#FFF;	
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#FFF;
}