.ogx_calendar{
    display:flex;
    flex-direction:column;
    box-sizing:border-box;   
}
.ogx_calendar *{
    box-sizing:border-box;   
}
.ogx_calendar .ogx_calendar_head{
    display:inline-block;
    width:100%;
}
.ogx_calendar .ogx_calendar_head_date{
    display:block;
    width:100%;
    text-align:center;
    padding:2px;    
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_display_date{
    display:inline-block;
    font-family:RBreg;
}
.ogx_calendar .ogx_calendar_head_date .ogx_calendar_selected_date{
    display:inline-block;
    font-family:RBsemi;
}
.ogx_calendar .ogx_calendar_head_labels{
    display:flex;
    flex-direction:row;
    width:100%;  
    padding-left:5px;
    font-family:RBreg;
}
.ogx_calendar .ogx_calendar_head_labels > *{
    display:inline-block;
    flex-grow:1;
    text-align:center; 
    font-family:RBsemi;
}
.ogx_calendar .ogx_calendar_body{
    display:inline-block;
    width:100%;
    flex-grow:1;
}
.ogx_calendar .ogx_grid_swiper_cell_content{
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
    padding:5px 0px 0px 5px;
}
.ogx_calendar .ogx_calendar_selected_item{
    box-shadow:inset 0px 0px 0px 3px #5d96ec !important;
}
/*LAYOUTS*/
/*month days*/
.ogx_calendar .ogx_calendar_layout_month_days{
    display:inline-flex;
    flex-direction:column;
    flex-basis:14%;
    flex-grow:1;
    flex-shrink:1;
    border:1px solid #DDD;
    border-radius:6px;
    box-shadow:0px 1px 1px 0px #DDD;
    text-align:center;
    margin:0px 5px 5px 0px;
    background-color: #FFF;
    max-width:calc(100% / 7 - 5px);
    height:calc(100% / 6 - 5px);
    max-height:calc(100% / 6 - 5px);
    overflow:hidden;
    transition:all 1s cubic-bezier(.22,.61,.36,1);
    transform:translateZ(0);
    backface-visibility:hidden;
    font-family:RBreg !important;
}
.ogx_calendar .ogx_calendar_layout_month_days_offset{
    background-color:#AAA;
}
.ogx_calendar .ogx_calendar_layout_month_days_today{
    background-color:#dfffe7;
    color:#333 !important;   
}   
/*century decade*/
.ogx_calendar .ogx_calendar_layout_century_decades{
    display:inline-block;
    flex-basis:10%;
    flex-grow:1;
    flex-shrink:1;
    height:calc(100% - 5px);
    max-width:calc(10% - 5px);
    border:1px solid #DDD;
    margin-right:5px;
    background-color:#FFF;
    transform:translateZ(0);
    border-radius:6px;
}
.ogx_calendar .ogx_calendar_layout_century_decades_current{
    background-color:#dfffe7;
    color:#333 !important;   
}
/*century years*/
.ogx_calendar .ogx_calendar_layout_century_years{
    display:inline-block;
    flex-basis:10%;
    flex-grow:1;
    flex-shrink:1;
    height:calc(10% - 5px);
    max-width:calc(10% - 5px);
    border:1px solid #DDD;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#FFF;
    transform:translateZ(0);
    border-radius:6px;
}
.ogx_calendar .ogx_calendar_layout_century_years_current{
    background-color:#dfffe7;
    color:#333 !important;   
}
/*decade years*/
.ogx_calendar .ogx_calendar_layout_decade_years{
    display:inline-block;
    flex-basis:10%;
    flex-grow:1;
    flex-shrink:1;
    height:calc(100% - 5px);
    max-width:calc(10% - 5px);
    border:1px solid #DDD;
    margin-right:5px;
    background-color:#FFF;
    transform:translateZ(0);
    border-radius:6px;
}
.ogx_calendar .ogx_calendar_layout_decade_years_current{
    background-color:#dfffe7;
    color:#333 !important;   
}
/*decade months 12 * 10  - flex-direction in ogx_grid_swiper_cell_content should be set to column - adjust data-y to reflect the layout row*/
/*
.ogx_calendar .ogx_grid_swiper_cell[data-y="1"] .ogx_grid_swiper_cell_content{
    flex-direction:column;
}
*/
.ogx_calendar .ogx_calendar_layout_decade_months{
    display:inline-block;
    flex-basis:6%;
    flex-grow:1;
    flex-shrink:1;
    max-height:calc(100%/12 - 5px);
    width:calc(100%/10 - 5px);
    border:1px solid #DDD;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#FFF;
    transform:translateZ(0);
    border-radius:6px;
}
.ogx_calendar .ogx_calendar_layout_decade_months_current{
    background-color:#dfffe7;
    color:#333 !important;   
}
/*year months*/
.ogx_calendar .ogx_calendar_layout_year_months{
    display:inline-block;
    flex-basis:20%;
    flex-grow:1;
    flex-shrink:1;
    height:calc(33% - 5px);
    max-width:calc(25% - 5px);
    border:1px solid #DDD;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#FFF;
    transform:translateZ(0);
    border-radius:6px;
    font-family:RBreg !important;
}
.ogx_calendar .ogx_calendar_layout_year_months_current{
    background-color:#dfffe7;
    color:#333 !important;   
}
/*year weeks 4 * 13*/
.ogx_calendar .ogx_calendar_layout_year_weeks{
    display:inline-block;
    flex-basis:7%;
    flex-grow:1;
    flex-shrink:1;
    height:calc(25% - 5px);
    max-width:calc(100%/13 - 5px);
    border:1px solid #DDD;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#FFF;
    transform:translateZ(0);
    border-radius:6px;
}
.ogx_calendar .ogx_calendar_layout_year_weeks_current{
    background-color:#dfffe7;
    color:#333 !important;   
}
/*year days 20 * 19 */
.ogx_calendar .ogx_calendar_layout_year_days{
    display:inline-block;
    flex-basis:7%;
    flex-grow:1;
    flex-shrink:1;
    height:calc(100%/20 - 5px);
    max-width:calc(100%/19 - 5px);
    border:1px solid #DDD;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#FFF;
    transform:translateZ(0);
    border-radius:6px;
}
.ogx_calendar .ogx_calendar_layout_year_days_current{
    background-color:#dfffe7;
    color:#333 !important;   
}
/*week days 7 * 1*/
.ogx_calendar .ogx_calendar_layout_week_days{
    display:inline-block;
    flex-basis:10%;
    flex-grow:1;
    flex-shrink:1;
    height:calc(100% - 5px);
    max-width:calc(100%/7 - 5px);
    border:1px solid #DDD;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#FFF;
    transform:translateZ(0);
    border-radius:6px;
}
.ogx_calendar .ogx_calendar_layout_week_days_current{
    background-color:#dfffe7;
    color:#333 !important;   
}
/*day hours 6 * 4*/
.ogx_calendar .ogx_calendar_layout_days_hours{
    display:inline-block;
    flex-basis:25%;
    flex-grow:1;
    flex-shrink:1;
    height:calc(100%/6 - 5px);
    max-width:calc(100%/4 - 5px);
    border:1px solid #DDD;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#FFF;
    transform:translateZ(0);
    border-radius:6px;
}
.ogx_calendar .ogx_calendar_layout_days_hours_current{
    background-color:#dfffe7;
    color:#333 !important;   
}
/*day work hours 5 * 2 */
.ogx_calendar .ogx_calendar_layout_days_work_hours{
    display:inline-block;
    flex-basis:20%;
    flex-grow:1;
    flex-shrink:1;
    height:calc(100%/2 - 5px);
    max-width:calc(100%/5 - 5px);
    border:1px solid #DDD;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#FFF;
    transform:translateZ(0);
    border-radius:6px;
}
.ogx_calendar .ogx_calendar_layout_days_work_hours_current{
    background-color:#dfffe7;
    color:#333 !important;   
}
/*ENGINES*/
.ogx_calendar .ogx_calendar_engine_date_day_number{
    font-family:RBsemi;
    padding-top:25%;
}
.ogx_calendar .ogx_calendar_layout_month_days_label{
    max-width:calc(100% / 7 - 5px);
    margin:0px 5px 5px 0px;
}