.ogx_iceberg_views{
	position:relative;
    display:block;
	width:100%;
    z-index:666;
    overflow:hidden;
    transition:0.3s ease-in-out;
    -webkit-transform:translateZ(0);
    -webkit-transform-style:preserve-3d;
    -webkit-backface-visibility:hidden;
    -webkit-perspective:1000;
    background-color:#E4E4E4;
	height:100%;
}
.ogx_iceberg_views_anim{
    transition:all 400ms 'ease-out';
}
.ogx_iceberg_view{
	box-sizing:border-box;
    display:inline-block;
    vertical-align:top; 
    overflow-x:hidden;  
    border-right:1px solid #E4E4E4;
	height:100%;
}
.ogx_iceberg_view_container{
    display:inline-block;
    box-sizing:border-box;
    overflow:hidden;
    padding:0 0 100px 0;  
	height:100%;
}