.ogx_chatroom{
	display:flex; 
	flex-direction:column;
	height:100%;
	overflow:hidden;
	transition:all 0.2s;
}
.ogx_chatroom_messages{
	display:inline-block; 
	flex-direction:column; 
	height:100%; 
	overflow:hidden;
	padding:10px;
}
.ogx_chatroom_composer{
	display:inline-block; 
	flex-basis:70px; 
	width:100%; 
	background-color:#FFF;
}
.ogx_chatroom_messages_inner{
	/*background-color:#E4E4E4 !important;*/
}
.ogx_chatroom_composer_input{
	display:inline-block;
	box-sizing:border-box;
	width:82%;
	padding:5px;
}
.ogx_chatroom_composer_input textarea{	
	display:block;
	box-sizing:border-box;
	width:100%;
	resize:none;
	border:none;
	font-family:OSlight;
	font-size:16px;
	outline:none;
}
.ogx_chatroom_composer_send{
	vertical-align:top;
	display:inline-block;
	box-sizing:border-box;
	width:18%;
	background-repeat:no-repeat;
	background-image:url('../../../img/send.svg');
	background-position:center;
	min-height:60px;
}
.ogx_chatroom_message{
	display:flex;
	align-items:flex-start;	
	width:100%;
	box-sizing:border-box;
	margin-bottom:10px;
	font-family:OSreg;
	opacity:0;	
	transition:opacity 400ms;
}
.ogx_chatroom_message_anim{		
	opacity:1;
}
.ogx_chatroom_message_left{
	text-align:left;
}
.ogx_chatroom_message_left .ogx_chatroom_message_body{
	margin-right:10px;
	background-color:#1c87d8;
	color:#FFF;
}
.ogx_chatroom_message_right{
	text-align:right;
	width:100%;
	justify-content:flex-end;
}
.ogx_chatroom_message_right .ogx_chatroom_message_body{
	text-align:left;
}
.ogx_chatroom_message_icon{
	display:inline-block;	
	box-sizing:border-box;
	width:40px;
	min-width:40px;
	height:40px;	
	border-radius:20px;
	vertical-align:top;
	text-align:center;
	margin-right:10px;
	background-color:#1c87d8;
	color:#98bcd6;
}
.ogx_chatroom_message_icon span{
	display:inline-block;
	margin-top:8px;
}
.ogx_chatroom_message_container{
	display:inline-block;
	box-sizing:border-box;	
	vertical-align:top;		
}
.ogx_chatroom_message_date{
	display:block;
	box-sizing:border-box;	
	font-family:OSlight;
	font-size:10px;	
	color:#999;
	margin-right:4px;
	margin-left:4px;
}
.ogx_chatroom_message_body{
	display:block;
	box-sizing:border-box;	
	padding:10px;
	background-color:#FFF;
	border-radius:6px;
}
.ogx_chatroom_typing{
	display:block;
	width:100%;
	box-sizing:border-box;
	margin-bottom:10px;
	font-family:OSreg;
}
.ogx_chatroom_typing_body{
	display:inline-block;
	box-sizing:border-box;
	padding:10px;
	background-color:#FFF;
	border-radius:6px;
}