.ogx_nested_list{
	display:block;
	box-sizing:border-box;
    width:100%;
    height:100%;	
    color:#EEE;
	overflow:hidden;
    transform:translate3d(0, 0, 0);   
    background-color:#222;
    transition:height 0.3s
}
.ogx_nested_list_prep{
    position:absolute;
    top:-10000;
    visibility:hidden;
    display:'block';	
}
.ogx_nested_list_item{
    display:block;   
    position:relative;
	width:100%;	
    transform:translate3d(0, 0, 0);   
    transition:all 0.3s;	
}
.ogx_nested_list_item_head{
    display:block;
    width:100%;
    background-color:#222;
    background-repeat:no-repeat;	
    background-position-y:center;
    background-position-x:calc(100% - 10px);
}
.ogx_nested_list_item_head_open{
	background-image:url('../../../img/down.svg');
}
.ogx_nested_list_item_head_closed{
	background-image:url('../../../img/up.svg');
}
.ogx_nested_list_item_hidden{
	display:none;
}
.ogx_nested_list_item_noanim{
	transition:none !important;	
}
.ogx_nested_list_item_title{
	display:block;
	box-sizing:border-box;
	width:100%;
	padding:10px 5px 10px 10px;
	font-family:RBsemi;	
	font-size:16px;
}
.ogx_nested_list_item_body{
	position:absolute;
    display:block;
    width:100%;   
    color:#EEE;
    background-color:#EEE;
}
.ogx_nested_list_item_content{
    display:block;
    padding:10px;
    color:#333;
}