.ogx_dynamic_list{
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:0;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
}
.ogx_dynamic_list_item{
	display:block;
	box-sizing:border-box;
	overflow:hidden;
}
.ogx_dynamic_list_selected_item{
}
.ogx_dynamic_list_reorder{
	z-index:600;
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.3);
}
.ogx_dynamic_list_frozen{
	opacity:0.2 !important;
}