body{
	margin:0;
	padding:0;
	font-family:OSlight;
	font-size:18px;	
    height:100vh;
    perspective:800px;
    color:#000;
    overflow:hidden;
   	touch-action:pan-y;
    -webkit-user-drag:none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;  
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
}
.ogx_hw{
	-webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;   
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
}
.ogx_stage{
	position:absolute;
	top:0;
	display:none;
	width:100%;
	height:100vh;
	overflow:hidden;
	box-sizing:border-box;
	/*background-color:#F5F5F5;*/
	backface-visibility: hidden;
	touch-action:pan-x;  
    -webkit-user-drag:none;
}
.ogx_stage_anim{
	transform-style: preserve-3d;
	transition:all 0.3s ease-in-out;
}
.ogx_window{
	position:absolute;    
    top:0;
    display:block;
    visibility:hidden;
    /*box-shadow:0px 0px 3px 2px rgba(0,0,0,0.2);*/
}
.ogx_window .ogx_view{
    background-color:#222;
}
.ogx_window_custom{
	border:none;
	border-right:1px solid #E2E2E2;
}
.ogx_window_head{
	width:100%;
	height:45px;
	display:block;
	box-sizing:border-box;
	text-align:center;
	color:#EEE;
    background-color:#000;
	padding-top:8px;
}
.ogx_window_head_none{
	display:none;
}
.ogx_window_main_icon{
    position:absolute;
    display:inline-block;	
    width:30px;
	height:30px; 
	margin:auto;
}
.ogx_window_main_icon_top, .ogx_window_main_icon_bottom{
	transform:rotate(90deg);
	background-position:center center;
    background-size:contain;
}
.ogx_window_main_icon_left{
	float:right;	
	margin-right:10px;
	transform:rotate(180deg);
	background-position-y:15px;
	position:relative;	
	top:0px;
}
.ogx_window_main_icon_right{
	left:5px;
}
.ogx_window_main_icon_back{	    
    background-image:url('../../img/left.svg');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
}
.ogx_window_main_icon_close{  
	background-image:url('../../img/close.svg');	
	background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
}
.ogx_window_icons{
	position:absolute;
	display:inline-block;
	box-sizing:border-box;
	right:10px;
}
.ogx_window_icons::after{
	clear:both;
}
.ogx_window_icon{
    display:inline-block;
    width:30px;
    height:30px;
    margin-left:5px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
}
.ogx_window_anim_in{
   
}
.ogx_window_anim_out{
 
}
.ogx_window_title{
	display:inline-block;	
	font-size:14px;
    font-family:OSreg;
}
.ogx_popup{
	display:flex;
    flex-direction:column;
	position:absolute;
	z-index:12000;
	background-color:#FFF;
	border:1px solid #DDD;
	border-radius:4px;
	/*box-shadow:0px 3px 3px 3px rbga(0,0,0,0.4);*/
	opacity:0;
    overflow:hidden;
    box-shadow:1px 1px 2px 0px rgba(0,0,0,0.1);
}
.ogx_popup_title{
    display:block;
    box-sizing:border-box;
    text-align:center;
    font-family:RBsemi;
    font-size:18px;
    padding:15px 0px 8px 0px;
    text-transform:capitalize;
    color:#222;
}
.ogx_popup_body{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    box-sizing:border-box;
}
.ogx_popup_buttons{
    display:block;
    box-sizing:border-box;
    text-align:right;
    flex-basis:50px;
    padding-right:30px;
    padding-top:5px;   
}
.ogx_popup_button{
    display:inline-block;
    box-sizing:border-box;
    font-family:RBsemi;
    font-size:16px;
    color:#1B9D9F;
    margin-left:30px;    
}
.ogx_popup_fade_in{
	transition:opacity 0.5s;
	opacity:1 !important;
}
.ogx_popup_fade_out{
	transition:opacity 0.3s;
	opacity:0 !important;
}
.ogx_overlay{
	display:block;
	width:100%;
    height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:rgba(0, 0, 0, 0.7);
	z-index:10500;
	opacity:0;
}
.ogx_overlay_fade_in{
	transition:opacity 0.5s;
	opacity:1 !important;
}
.ogx_overlay_fade_out{
	transition:opacity 0.3s;
	opacity:0 !important;
}
.ogx_base_view{
	display:flex;
    flex-direction:column;
    flex-grow:1;
	box-sizing:border-box;
	width:100%;
    height:100%;
	overflow:hidden;
}
.ogx_view{
	display:flex;
	flex-grow:1;
	width:100%;
	flex-direction:column;
	box-sizing:border-box;
	margin:0;
	overflow:hidden;
    /*background-color:#F5F5F5;*/
}
.ogx_view_loading{
	display:block;
	position:absolute;
	/*background-color:#F5F5F5;
	border-radius:4px;
	border:1px solid #EEEEEE;
	border-bottom:2px solid #DDD;
    */
	background-image:url('../../img/loading.svg');	
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	z-index:99999;	
}