.ogx_view_swiper_views{
	position:relative;
    display:block;
    box-sizing:border-box;
	height:100%;
    z-index:666;
    overflow:hidden;
    transition:0.3s ease-in-out;    
}
.ogx_view_swiper_view{
	box-sizing:border-box;
    display:inline-block;
    vertical-align:top; 
    /*border:1px solid #DDD;*/
    height:100%;
    overflow:hidden;
}
.ogx_view_swiper_anim{
    transition:all 0.3s;
}