.ogx_stacked_tree{
	overflow:hidden;
	display:block;
	box-sizing:border-box;
	width:100%;
	height:500px;
    transform:translateZ(0);
    backface-visibility:hidden;
    perspective:1000;
}
.ogx_stacked_tree ul, li{
	list-style:none;
	padding:0;
	margin:0;	
	width:100%;
	box-sizing:border-box;
}
.ogx_stacked_tree_container{
	display:block;
	box-sizing:border-box;
	position:relative;
	width:100%;
    transform:translateZ(0);
    backface-visibility:hidden;
    perspective:1000;
}
.ogx_stacked_tree_level{
	position:absolute;
	display:inline-block;
	box-sizing:border-box;	
	vertical-align:top;
	width:100%;
	top:0;
	left:0;	
	transform:translateZ(0);
    transform-style:preserve-3d;
    backface-visibility:hidden;
    perspective:1000;  
}
.ogx_stacked_tree_back{
	display:block;
	width:100%;
	border-bottom:1px solid #E2E2E2;
	background-image:url('../../../img/left.svg');
	background-position-x:left;
	background-position-y:center;
	background-repeat:no-repeat;
	background-color:#FFF;	
}
.ogx_stacked_tree_item{
	display:block;
	box-sizing:border-box;
	width:100%;
	border-bottom:1px solid #E2E2E2;
	background-image:url('../../../img/right.svg');
	background-position-x:right;
	background-position-y:center;
	background-repeat:no-repeat;
	background-color:#FFF;	
    transform:translateZ(0);
    backface-visibility:hidden;
    perspective:1000;
}
.ogx_stacked_tree_item_label{
	display:inline-block;
	box-sizing:border-box;
	font-size:18px;
	padding:15px 0px 15px 15px;
	color:#00183b;
}
.ogx_stacked_tree_end{
	background-image:none !important;
}