.ogx_dynamic_list_item{
	position:relative;
	transform:translateZ(0);
}
.ogx_dynamic_list_swiper_back_item{
	position:absolute;
	display:inline-block; 
	left:0px;
	z-index:1; 
	width:100%;
	color:#000;		
	background-color:#CC0000;	
	background-repeat:no-repeat;
	background-size:contain;	
	font-size:14px;
	overflow:hidden;
	transform:translateZ(0);
}
.ogx_dynamic_list_swiper_left{
	background-position:10% center;
}
.ogx_dynamic_list_swiper_right{
	background-position:90% center;
}
.ogx_dynamic_list_swiper_trans_item{
	transition:all 0.3s ease-out;
}
.ogx_dynamic_list_swiper_delete{
	position:relative;
	opacity:0;
	transition:all 0.4s ease-out;	
	transform:translateZ(0);
}
.ogx_dynamic_list_swiper_work{
	z-index:10;
}