.ogx_content_indicator{
	display:block;
	box-sizing:border-box;
	text-align:center;
	margin:auto;
}
.ogx_content_indicator_item{
	display:inline-block;
	box-sizing:border-box;
	text-align:center;
	min-width:10px;
	height:20px;
}
.ogx_content_indicator_gfx{
	display:inline-block;
	box-sizing:border-box;
	width:8px;
	height:8px;
	border-radius:4px;
	background-color:#FFF;
	border:1px solid #AAA;
}
.ogx_content_indicator_selected{
	background-color:#255ca5 !important;
	border:none !important;
}