.ogx_roulette{
	overflow:hidden;
	position:relative;
	display:inline-block; 
	border-left:1px solid #DDD; 
	border-right:1px solid #DDD; 	
	border-radius:6px;
	width:50px; 
	height:42px;
	background:linear-gradient(to bottom, rgba(120,120,120,0.1) 0%,rgba(255,255,255,0) 32%,rgba(255,255,255,0) 68%,rgba(120,120,120,0.1) 100%);
}
.ogx_roulette_stripes{
	display:block;		
	position:relative;
}
.ogx_roulette_stripe{
	display:block;
	position:absolute;
}
.ogx_roulette_block{
	display:block;
	border-radius:6px;
	text-align:center;
	box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.1);
	user-select: none;
	-moz-user-select:none;
	background-image:url('../../img/roul.svg');
	background-position:center center;
	background-repeat:no-repeat;
}
.ogx_roulette_block_label{
	display:block;	
	margin:auto;
	font-size:20px;
	font-family:OSsemi;
}