.ogx_grid_head{	
	border-collapse:collapse; 
	margin-bottom:-1px;
	background-color:#FFF;
}
.ogx_grid_head_arrow{
	float:right;
	padding:0 5px 0 5px;	
}
.ogx_grid_head table, th, td{
	border-collapse:collapse; 
	border-color:#CCC;	
}
.ogx_grid_body{
	border-collapse:collapse; 
	background-color:#FFF;
}
.ogx_grid_body table, th, td{
	border-collapse:collapse;
	border-color:#CCC;	
}
.ogx_grid_column_head{
	cursor:pointer;
}
.ogx_grid_row{
	
}
.ogx_grid_selected_row{
	background-color:#EAEAEA;	
}
