.ogx_mobile_scroll_outer{
    display:block;
    width:100%;
    box-sizing:border-box;
    padding:0;
    overflow-y:scroll !important;  
	position:relative;
}
.ogx_mobile_scroll_inner{
    display:block;
    box-sizing:border-box;
    width:100%;
    position:relative;
    min-height:100%;
}
.ogx_mobile_scroll_container{
    display:block;
    position:absolute;
    top:0;
    width:3px;
    z-index:9999999;
}
.ogx_mobile_scroll_container_button{
    position:relative;
    top:0;
	/*iOS display none -Android display block*/
    display:none;
    opacity:0;
    background-color:rgba(0, 0, 0, 0.5);
    width:3px;
    z-index:9999999;
}
/*iOS only*/
.ogx_mobile_window .ogx_mobile_scroll_container_button{
	display:block !important;
}
/*iOS only end*/
.ogx_mobile_scroll_container_anim{
    transition:opacity 500ms;   
}
.ogx_mobile_scroll_container_anim_fade_in{
    opacity:1;
}
.ogx_mobile_scroll_container_anim_fade_out{
    opacity:0;
}