.ogx_mobile_swipe_subnav_views{
    position:relative;
    display:block;
    z-index:7777;
    overflow:hidden;
    transition:0.3s ease-in-out;
    -webkit-transform:translateZ(0);
    -webkit-transform-style:preserve-3d;
    -webkit-backface-visibility:hidden;
    -webkit-perspective:1000;
    background-color:#E4E4E4;
}
.ogx_mobile_swipe_subnav_view{
    box-sizing:border-box;
    display:inline-block;
    vertical-align:top; 
    overflow-x:scroll;  
    -webkit-overflow-scrolling:touch;
    -webkit-touch-callout:none;              
    -webkit-text-size-adjust:none;            
    -webkit-user-select:none;   
    user-drag:none;
    -webkit-user-drag:none; 
}
.ogx_mobile_swipe_subnav_view_container{
    box-sizing:border-box;
    overflow:hidden;
    padding:0 0 100px 0;
    -webkit-touch-callout:none;              
    -webkit-text-size-adjust:none;            
    -webkit-user-select:none;   
    user-drag:none;
    -webkit-user-drag:none; 
}