.ogx_tag_manager{
	margin-top:5px;
	background-color:#FFF;
	border:1px solid #DDD;
	border-radius:2px;	
}
.ogx_tag_manager input[type=text]{
	border:none;
	background-color:transparent;	
	width:auto;
	padding-bottom:5px;
}
.ogx_tag_manager input[type=text]:focus{
    outline:0 none;
}
.ogx_tag_manager_tags{
	
}
.ogx_tag_manager_tag{
	display:inline-block; 
	margin:5px 0px 5px 5px;
	border-radius:2px;
	font-size:16px;	
	font-family:OSlight;
	background-color:#000;
	color:#EEE;
	padding:3px 8px 3px 8px;	
}
.ogx_tag_manager_tag img{
	margin-left:3px;	
	cursor:pointer;
	margin-bottom:-5px;
}
.ogx_tag_manager_tags_container{
	background-color:#FFF;
	border-top:1px solid #DDD;
	margin-top:5px;	
}
.ogx_tag_manager_tags_container_tag{
	cursor:pointer;
}