.ogx_dynamic_taber_tab{
	height:20px;
	display:inline-block;
	color:#666;
	background-color:#EDEDED;
	border-color:#CCC;
	border-width:1px;
	border-style:solid;
	border-radius:2px;
	padding-left:10px;
	padding-right:10px;	
	margin-bottom:-1px;
	cursor:pointer;
}
.ogx_dynamic_taber_tab:hover{	
	background-color:#000;
	color:#FFF;	
	border-color:#000;
}
.ogx_dynamic_taber_selected_tab{
	height:20px;
	display:inline-block;
	border-color:#CCC;
	background-color:#FFF;
	border-bottom-color:#FFF;
	border-width:1px;
	border-style:solid;
	border-radius:2px;
	padding-left:10px;
	padding-right:10px;	
	margin-bottom:-1px;
	cursor:pointer;
}



