.ogx_nested_tree{
	display:block;
	width:100%;	
	overflow:hidden;
	border-top:none !important;
}
.ogx_nested_tree ul, li{
	list-style:none;
	padding:0;
	margin:0;
}
.ogx_nested_tree_item{
	display:block;
	width:100%;
	border-bottom:1px solid #CCC;
	border-top:1px solid #CCC;
	margin-bottom:-1px;
	margin-left:-1px;		
}
.ogx_nested_tree_item_drag{
	position:absolute;
	opacity:0.6;
	z-index:9999;
	background-color:rgba(131,245,255,0.5);
}
.ogx_nested_tree_item_head{
	display:block;
	width:100%;
}
.ogx_nested_tree_item_label{
	display:inline-block;
	box-sizing:border-box;
	font-family:OSreg;
	font-size:16px;
	padding:5px;
	vertical-align:top;
	user-select:none;
	-moz-user-select:none; 
}
.ogx_nested_tree_item_arrow{
	display:inline-block;
	box-sizing:border-box;	
	vertical-align:top;	
	background-position:right;
	background-repeat:no-repeat;
}
.ogx_nested_tree_item_arrow_opened{	
	background-image:url('/img/arrow_med_down.png');
}
.ogx_nested_tree_item_arrow_closed{
	background-image:url('/img/more.png');	
}
.ogx_nested_tree_item_body{
	display:block;
	width:100%;
}
.ogx_nested_tree_body_hidden{
	display:none !important;
}
.ogx_nested_tree_item_head_select{
	background-color:rgba(131,245,255, 0.5);
}
.ogx_nested_tree_bar{
	display:block;
	text-align:right;
	width:100%;
	height:3px;
	overflow:hidden;
	padding:0;
	margin-top:1px;
}
.ogx_nested_tree_bar_line{
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;	
	height:3px;
	background-color:rgba(131,245,255, 1);
}
